<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Books</title>
</head>
<body>

<h2>Available Books 📚</h2>

<table border="1">
  <thead>
  <tr>
    <th>Title</th>
    <th>Genre</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="b : ${books}">
    <td th:text="${b.title}"></td>
    <td th:text="${b.genre}"></td>
    <td th:text="${b.price}"></td>
    <td>
      <form th:action="@{/add-to-cart-book}" method="post">
        <input type="hidden" name="id" th:value="${b.bookId}" />
        <button type="submit">Add to Cart</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

<br><br>

<a href="/customer_dashboard">Back to Dashboard</a>

</body>
</html>
